Para probar la funcionalidad del sistema se agregaron dos usuarios.
Imagenes adjuntadas en /Images

Roberto esta en Nuevo León con beca por familiares docentes y 4 materias inscritas. Pago en mensualidades.
Precio por materia: 18000, descuento: 30% + 15% en las ultimas 3 materias
Costo estimado de: (18000 * .70) + (3 * 18000 * .60) = 45000

Carlos esta en Jalisco con beca por excelencia y 5 materias inscritas. Pago de contado.
Precio por materia: 13000, descuento: 10% + 15% en las ultimas 4 materias + 5% de contado.
Costo estimado de: (13000 * .9) + (4 * 13000 * .70) = 48000

Prueba para las reglas de validación. No se pueden agregar valores invalidos.
